@model TechInTriunfo.Models.Contato

@{
    ViewData["Title"] = "Excluir Contato";
}

<div class="container-editar">
    <h1>@ViewData["Title"]</h1>
    
    <p>Tem certeza que deseja excluir o contato <strong>@Model.Nome</strong>?</p>
    
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>